---
import Hero from '../components/Hero';
import ValueProposition from '../components/ValueProposition';
import Products from '../components/ProductComponent';
import EmailForm from '../components/EmailForm'
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/global.css';
import Services from '../components/Services';
import WhyUs from '../components/Whyus';
---
<MainLayout >
	<section id="home" class="h-full lg:px-16 md:px-10 px-6">
		<Hero client:load />
	</section>
	
	<section id="about-us" class="h-full mt-24 md:mt-32 lg:px-16 md:px-10 px-6 pb-16">
		<div class="md:hidden block overflow-hidden">
			<ValueProposition client:idle />
		</div>
		<div class="md:block hidden overflow-hidden relative">
			<WhyUs />
		</div>
	</section>

	<section id="services" class="h-full lg:px-16 md:px-10 px-6">
		<Services client:idle />
	</section>
	
	<section id="products" class="h-full bg-black text-white md:rounded-t-4xl md:mt-0 mt-24 rounded-t-4xl ">
		<Products client:idle />
	</section>
	<section id="contact-us">
		<EmailForm client:idle/>
	</section>
</MainLayout>
